body{
	
	width:100%; 
	background-color:blue;
}

p{
	color:lightblue;
}

.FillScreenTextCentered{
	 width:90%;
	 margin-right:auto; 
	 margin-left:auto; 
	 text-align:center;
}

p.ErrorMessageOutput{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	background-color:lightgrey;
	text-align:center;
	color:black;
}

/*Allows input boxes to fill the entire div or cell they are contained within.*/
input{
	width:97%;
}

input.button{
	font-size:18px;
}

.centered80W{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	text-align:center;
}

.searchSelectButton{
	height:100%; 
	padding-top:2%; 
	padding-bottom:2%;
}

.searchSelectButton:hover{
	height:100%; 
	background-color:white; 
	padding-top:2%; 
	padding-bottom:2%;
}

/*tr{
	background-color:grey;
}*/

td{
	text-align:center;
}

td.HomeInputTitle{
	width:8%; 
	
	/*
		Since the table surrounding the two forms, takes up 80% of the screen, each of the two tables should take up 40% of the screen.
		
		I am giving 20% of this 40% to the title of the element asking for user input. 0.2 * 35 = 7 
	*/
}
*/


td.HomeInputContent{
	width:32%; 
	
	/*
		Since the table surrounding the two forms, takes up 80% of the screen, each of the two tables should take up 40% of the screen.
		I am giving 80% of this 35% to the title of the element asking for user input. 0.8 * 35 = 28
	*/
}

A:link{
		color:black;
		text-decoration: none
}

A:visited{
		color:black;
}

A:active{
	color:white;
	text-decoration: none
}

A:hover{
	color:white;
	text-decoration: none
}

