<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>400</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <error-page>
    <error-code>408</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <error-page>
    <error-code>413</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <error-page>
    <error-code>414</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/Error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.amzi.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.amzi.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.amzi.servlets.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/editUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostCreate</servlet-name>
    <servlet-class>com.amzi.servlets.PostCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostCreate</servlet-name>
    <url-pattern>/postCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostDelete</servlet-name>
    <servlet-class>com.amzi.servlets.PostDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDelete</servlet-name>
    <url-pattern>/postDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPostEditHistory</servlet-name>
    <servlet-class>com.amzi.servlets.GetPostEditHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostEditHistory</servlet-name>
    <url-pattern>/getPostEditHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SwitchPostEdit</servlet-name>
    <servlet-class>com.amzi.servlets.SwitchPostEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchPostEdit</servlet-name>
    <url-pattern>/switchPostEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReversePostEdit</servlet-name>
    <servlet-class>com.amzi.servlets.ReversePostEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReversePostEdit</servlet-name>
    <url-pattern>/reversePostEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BlogCreate</servlet-name>
    <servlet-class>com.amzi.servlets.BlogCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogCreate</servlet-name>
    <url-pattern>/blogCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBlog</servlet-name>
    <servlet-class>com.amzi.servlets.GetBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBlog</servlet-name>
    <url-pattern>/getBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BlogChangeTitle</servlet-name>
    <servlet-class>com.amzi.servlets.BlogChangeTitleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogChangeTitle</servlet-name>
    <url-pattern>/blogChangeTitleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BlogDelete</servlet-name>
    <servlet-class>com.amzi.servlets.BlogDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogDelete</servlet-name>
    <url-pattern>/blogDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.amzi.servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SwitchResultType</servlet-name>
    <servlet-class>com.amzi.servlets.SwitchResultTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchResultType</servlet-name>
    <url-pattern>/switchResultTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadSearchResult</servlet-name>
    <servlet-class>com.amzi.servlets.LoadSearchResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadSearchResult</servlet-name>
    <url-pattern>/loadSearchResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.amzi.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
</web-app>